<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <article>
        <ul>
            <li><%= product.title %></li>
            <li><%= product.description %></li>
            <li><%= product.price %></li>
            <li><%= product.imageUrl %></li>
        </ul>
    </article>
<%- include('../includes/end.ejs') %>
